*{
	margin:0;
	padding: 0;
}

/*GENERAL */
body{
	background-color: #fff;
	font-size: 10pt;
	font-family: sans-serif;
}

#wrapper{
	margin: auto;
	background-color: #fff;
/*	margin-top: 6em;*/
}

.section{
	font-family: 'Roboto', sans-serif;
	overflow-x:hidden;	
	margin-right: auto;
	margin-left: auto;
	border: none;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#filler{
	background-color: #fff;
/*	height: 4em;
*/}

#about{
	font-size: 1.5em;
	color: #000;
	float: left;
	text-align: left;
	background-color: #42C0FB;
	background-color: #ffb296;
}

.inner-section span{
	color: #fff;
	font-size: 2.1em;
	margin-bottom: 0.8em;
}

.inner-section{
	width: 60%;
	margin:auto;
	height: 100%;
	padding: 1em;
	border-radius: 20px 20px 20px 20px;
	color: #4a4a4a;
}

#work{
	background-color: #fff;
}

.inner-work{
	width: 60%;
	margin: auto;
	text-align: left;
}

h2{
	font-size: 2.3em;
	font-weight: bold;
}

h3{
	font-size: 2em;
	color: #42C0FB;
}

h4{
	font-size: 1.3em;
}

h5{
	font-size: 1.2em;
	font-weight: bold;
}

p{
	font-size: 1.1em;
	font-weight: lighter;
}


#contact{
	background-color: #b8b8b8;
	background-color: #42C0FB;
/*	background-image: url('mitra.png');
	opacity: 0.6; */
}

#light img{
	width: 49.5%;
	margin-top: 2.5em;
}

#socialtraveler img{
	width: 80%;
	text-align: center;
}

#lien img{
	width: 49%;
	margin-top: 2.5em;
}

.project{
	width: 100%;
	height: 50em;
	font-size: 1.1em;
}

.project-images{
	float:left;
	display: inline-block;
	width: 60%;
	margin:auto;
	margin-top: 1em;
}

.project-images img{
	width: 100%;
}

.project-info{
	float:right;
	display: inline-block;
	width: 30%;
	border-left: 1px solid #42C0FB;
	padding-left: 2.5em;
	color: #4a4a4a;
}
/*--------------------------------------------------------------------*/


/*NAVIGATION*/

.pageScrollerNav{
	height: 6.2em;
	margin: auto;
	width: 100%;
/*	position: fixed;
*/	margin-top: 0;
	top: 0;
	z-index: 100;
	background-color: #fff;
	background-color: #ffb296;
}

#nav{
	text-align: center;	
	width: 50%;
	margin: auto;
}

#nav li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	padding: 2em;
	font-size: 1.4em;
}

#nav li a{
	text-decoration: none;
	color: #858585;
	color: #9c9c9c;
	color: #fff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

#nav li a:hover{
	color: #fff;
	color: #9c9c9c;
	color: #4a4a4a;
}

a{
	text-decoration: none;
	color: #858585;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

a:hover{
	color: #42C0FB;
}

#contact-buttons{
	list-style-type: none;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	margin-right: auto;
}

#contact-buttons li{
	display: inline;
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#contact-buttons img{
	width: 8em;
}

#contact-buttons li:hover{
	opacity: 1.0;
}